*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffb5;
  background-image: linear-gradient(315deg, #ffffb5 0%, #247ba0 74%);
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 350px;
  height: 250px;
  position: absolute;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3843137255);
          box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.3843137255);
}

.text-box {
  width: 100%;
  height: 70%;
  padding: 1.5em;
  border-bottom: 1px solid gray;
}

.text-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 2em;
  resize: none;
  border: none;
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  outline: none;
}

.controllers-box {
  width: 100%;
  height: 30%;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.control-item {
  height: 40px;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  cursor: pointer;
}

.control-item:nth-child(1) {
  cursor: default;
}

.control-item:hover, .speed-input:hover, .text-input:hover {
  -webkit-box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3843137255);
          box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.3843137255);
}

.control-item:nth-child(1):hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.speed {
  height: 40px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.speed-input {
  width: 100%;
  height: 100%;
  padding: 9px;
  font-size: 1.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}

.speed-label {
  font-size: 1.5rem;
  padding-right: 5px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */